{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>登入</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Email</label>
        <input type="text" id="username" name="username" placeholder="您的 Email" required>

        <label for="password">密碼</label>
        <input type="password" id="password" name="password" placeholder="您的密碼" required>
        <a href="#"></a>

        <button type="submit">登入</button>
    </form>
</div>
{% endblock %}
