{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>設定密碼</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{% url 'password' %}">
        {% csrf_token %}
        <label for="new_password">輸入密碼</label>
        <input type="password" id="new_password" name="new_password" required>

        <label for="confirm_password">再次輸入密碼</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <a href="#"></a>

        <button type="submit">送出</button>
    </form>
</div>
{% endblock %}
